<div class="content">
    <h1>Tarification optimale pour orange money et mobile money</h1>
    <h2>Calculer les frais de votre transaction</h2>
    <h3>Avec notre simulation obtenez les meilleurs frais en fonction de votre opérateur</h3>
    <div>
        <form>
            <mat-form-field appearance="fill" class="choice">
                <mat-label>Selectionner l'opérateur</mat-label>
                <mat-select disableRipple>
                    <mat-option value="om" class="orange" (click)="changeom()">Orange Money</mat-option>
                    <mat-option value="momo" class="yellow" (click)="changemomo()">Mobile Money</mat-option>
                </mat-select>
            </mat-form-field>
        </form>
    </div>

    <div class="solution-block" [ngClass]="option == 'Orange Money' ? 'org' : 'yell'">
        <h1>Retrait vers son compte {{option}}</h1>
        <div class="tile is-parent is-vertical">
            <div class="tile is-parent">
                <div class="tile is-child">
                    <h2>Montant à retirer sans virgule ni de point</h2>
                </div>
                <div class="tile is-child is-1"></div>
                <div class="tile is-child is-4">
                    <h2>Frais de retrait optimal</h2>
                </div>
            </div>

            <div class="tile is-parent">
                <div class="tile is-child">
                    <input class="input is-large" (keyup)="onKey($event)" type="number" id="inpt" />
                </div>
                <div class="tile is-child is-1"></div>
                <div class="tile is-child is-2">
                    <mat-form-field appearance="fill">
                        <mat-label>Coupures</mat-label>
                        <mat-select [(value)]="selected">
                            <mat-option *ngFor="let coupure of coupures" [value]="coupure.value">{{coupure.value}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="tile is-child is-1"></div>
                <div class="tile is-child frais is-4">
                    <h1>{{frais | currency:'XAF'}}</h1>
                </div>
            </div>

            <div class="tile is-parent">
                <div class="tile is-child">
                    <h2>Vous devez effectuer {{nombreRetrait}} retrait(s)</h2>
                </div>
                <div class="tile is-child is-1"></div>
                <div class="tile is-child">
                    <h4>Coupure(s):</h4>
                    <ul>
                        <li *ngFor="let sommes of tabRetrait">{{ sommes.retrait | currency:'XAF' }}</li>
                    </ul>
                </div>
            </div>
            <div class="tile is-parent">
                <span class="has-text-warning">{{attention}}</span>
                <span class="has-text-warning">{{concurence}}</span>
            </div>
        </div>
    </div>

    <div class="block-om" *ngIf="option == 'Orange Money';else momo">

    </div>
    <ng-template #momo>
        <div class="block-momo">

        </div>
    </ng-template>


</div>